<!DOCTYPE html>
<html>
<head>

	<title>Admin Menu</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="./css/maxcdnstylesheet.css">
<link rel="stylesheet" type="text/css" href="./css/StyleB.css">

<script type="text/javascript" src="./angJS/store.js"></script>
</head>
<body ng-app="menuApp" ng-controller="menuCtrl">
	<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar navbar-nav">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a class=" list-inline-item" href="./adminIndex">Home</a></li>
					<li><a class=" list-inline-item" href="./orders">Orders</a></li>
					<li><a class=" list-inline-item" href="./customers">Customers</a></li>
					<li><a class=" list-inline-item" href="./stores">Update Menus</a></li>
					<li><a class=" list-inline-item" href="./logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

		<span ng-bind="numItems" class="badge"></span></a>
	<div class="container">
		<div class="content">
		<table class="table table-hover">
			<div class="row text-right">
				<div class="col-md-6"></div>
				<input type="text" class="col-md-2" ng-model="description">
				<button class="btn btn-primary col-md-1 col-md-push-1" type="button" ng-click="searchByDesc()">Search</button>
			</div>
			<div class="row text-center">
				<p>{{msg}}</p>
			</div>
			<tr>
				<th class="col-md-2">Vinyl Name</th>
					<th class="col-md-2">Price</th>
					<th class="col-md-2">Image Name</th>
			</tr>
			<tr ng-repeat="item in menu track by $index">
				<td class="col-md-2"><input type="text" ng-model="item.vinylName|uppercase"></td>
				<td class="col-md-1"><input type="number" ng-model="item.price"></td>
				<td class="col-md-2"><input type="text" ng-model="item.imgName"></td>
				<td class="col-md-1"><button type="button" class="btn btn-primary" ng-click="updateStore(item)" >Update</button></td>
				<td class="col-md-1"><button type="button" class="btn btn-danger" ng-click="removeItem(item)" >Remove</button></td>
			</tr>
		</table>
		<hr>
		 <div class="form">
			<form action="/addStore" method="POST">
			  	<div class="form-group">
    	  			<input type="text" class="form-control" id="vinylName" placeholder="vinylName" name="vinylName">
    			</div>
    		  	<div class="form-group">
    	  			<input type="number" class="form-control" id="price" placeholder="price" name="price">
    			</div>
    			<div class="form-group">
    	  			<input type="text" class="form-control" id="imgName" placeholder="imgName" name="imgName">
    			</div>
			  	<button class="btn btn-primary">Add</button>

			</form>
			<br />

			<button class="btn btn-primary"><a style="color:white;" href="./stores">Refresh</a></button>

		  </div>
</div>
<script type="text/javascript">
</script>

</body>
</html>
