<!DOCTYPE html>
<html>
	<head>

		<title>Cart</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="./css/maxcdnstylesheet.css">
		<link rel="stylesheet" type="text/css" href="./css/StyleB.css">

		<script type="text/javascript" src="./angJS/cart.js"></script>
	</head>
	<body>
		<nav class="navbar">
			<div class="container-fluid">
				<div class="navbar navbar-nav">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a class=" list-inline-item" href="./home">Home</a></li>
						<li><a class=" list-inline-item" href="store.html">Store</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="./logout">Logout</a></li>
						<li><a href="./cart"><img class="cart" src="/images/cart.png" alt="cart"</a></li>
						<span ng-bind="numItems" class="badge"></span></a>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container" ng-app="cartApp" ng-controller="cartCtrl"	
			ng-init="calcTotalPrice()">
			<div class="content">
				
				<table class="table table-hover">
					<p class="text-center" style="font-size: 20px;"><strong>{{msg}}</strong></p>
					<tr>
						<th class="col-md-2">Name</th>
						<th class="col-md-2">Price</th>
						<th class="col-md-2">Quantity</th>
					</tr>
					<tr ng-repeat="item in cart track by $index">
						<td class="col-md-2">{{item.vinylName}}</td>
						<td class="col-md-2">{{item.price}}</td>
						<td class="col-md-2">{{item.quantity}}</td>
						<td class="col-md-2"><button type="button" class="btn btn-primary" ng-click="removeFromCart(item)" >Remove</button></td>
					</tr>
				</table>

				<hr>
			</div>
			<div class="row"></div>
			<div class ="row text-center" >
				<button class="col-md-2" ng-click="clearCart()" type="button" >Clear cart</button>
				<p class="col-md-6">Total Price: <span id="total"></span></p>
				<button type="button" class="btn btn-primary col-md-2" ng-click="placeOrder()">Place Order</button>
			</div>
		</div>
	</body>
</html>